!!! 5
%html
  %head
    %title OGP Parser Test Suite
    %link(rel="stylesheet" href="/qunit/qunit/qunit.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="/tests.css" type="text/css" media="screen")

  %body
    %h1#qunit-header Open Graph Protocol Test Suite
    %h2#qunit-banner
    %div#qunit-testrunner-toolbar
    %h2#qunit-userAgent
  
    / HTML content
    %div.examples
      %p Test pages:
      %ul
        = @listing
  
    %p.footer &nbsp;
