.examples{
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin:0;
	font-size: small;
	color:#2b81af;
	background-color:#D2E0E6;
	padding:0.5em 0.5em 0.5em 2.5em;
}

.footer{
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin:0;
	font-size: small;
	color:#2b81af;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	background-color:#D2E0E6;
	padding:0.5em 0.5em 0.5em 2.5em;
}